body
  margin: 0
  padding: 0
  font-size: 18px
  font-family: sans-serif

$black = #000
$white = #fff
$colorFront = blue
$colorActive = red
$colorBackLight = #eee
$colorBackDark = #999

//* HOME
.home 
  display: flex
  align-items: center
  justify-content: center
  text-align: center
  height: 100vh
  width: 100vw
  button
   margin: 20px 
   font-size: 1.6em
   padding: .5em 1em

.home-centred
  display: flex
  align-items: center
  text-align: center
  width: 80vw
  max-width: 800px
  flex-direction: column

//* SITE
.Site
  display: flex
  flex-direction: column
  align-items: center
.SiteFolder
  max-width: 800px
  ul
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: center 
    margin: 0
    padding: 0
.SiteFolder-item
  background: $colorBackLight 
  list-style: none
  width: 100px
  padding: 20px
  margin 10px
  font-size: .6em
  font-weight: bold
  text-transform: uppercase
  text-align: center
  cursor: pointer
  word-wrap: break-word
  &:hover
    background: $colorFront
.SiteFolder-item-back
  display: flex
  flex-direction: column
  &::before
    content:"\00ab"
    margin-bottom: .2em
    font-size: 3em

// SiteFile
.siteFile
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
.siteFile-menu
  background: rgba(0,0,0,.75) 
  display: flex
  justify-content: space-between
  height: 40px
  align-items: center
  padding: 5px
.siteFile-iframe
  width: 100vw
  height: calc(100vh - 60px)

//* ADMIN
.admin
  display: flex
  flex: 1
  min-height: 100vh
  justify-content: center

.AdminSites
  flex: 0 0 300px
  background-color: blue

.AdminSiteInfo
  flex: 1
  max-width: 700px
  background-color: yellow

@media screen and (max-width: 480px)
  .admin
    flex-direction: column
  .AdminSites
    flex: 0

// Butons
.button
  color: #000
  text-decoration: none
  background: $colorBackLight
  padding: .5em 1em
  border: none
  font-size: 16px
  font-weight: bold
  cursor: pointer
  &:hover
    background: $colorFront
    color: $white

.button-close
  &::before
    content: '\00d7'


