body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  font-family: sans-serif;
}
.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
}
.home button {
  margin: 20px;
  font-size: 1.6em;
  padding: 0.5em 1em;
}
.home-centred {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  width: 80vw;
  max-width: 800px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.Site {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.SiteFolder {
  max-width: 800px;
}
.SiteFolder ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0;
}
.SiteFolder-item {
  background: #ff0;
  list-style: none;
  width: 100px;
  padding: 20px;
  margin: 10px;
  font-size: 0.6em;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  word-wrap: break-word;
}
.SiteFolder-item:hover {
  background: #808080;
}
.admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  min-height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.AdminSites {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 300px;
          flex: 0 0 300px;
  background-color: #00f;
}
.AdminSiteInfo {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 700px;
  background-color: #ff0;
}
@media screen and (max-width: 480px) {
  .admin {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .AdminSites {
    -webkit-box-flex: 0;
        -ms-flex: 0;
            flex: 0;
  }
}
